<%- include('components/head')  %> 
<title>All tweets</title>
</head>
</html>
  <body>
    <section class="container-md">
      <table class="table caption-top">
        <h2 class="d-grid gap-2 col-6 mx-auto">Admin Panel</h2>
        <thead>
          <tr>
            <th scope="col">NO</th>
            <th scope="col">User Name</th>
            <th scope="col">Tweet</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (let t of tweets) { %>
          <tr>
            <th scope="row">2</th>
            <td><%= t.userName%></td>
            <td><%= t.tweet%></td>
            <td>
              <div  class="row row-cols-3 row-cols-lg-5 g-2 g-lg-3" >
                <a href="details/<%= t.id %>">
                  <button class="btn btn-primary" type="button">
                    Details
                  </button>
                </a>
                <a href="/tweet/<%= t.id%>/edit">
                  <button class="btn btn-success" type="button">Edit</button>
                </a>
                <form action="/tweet/<%= t.id%>?_method=DELETE" method="post">
                  <button class="btn btn-danger" type="submit">Delete</button>
                </form>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </section>
<%- include('components/footer') %> 
